.play-menu {
  background-color: aqua;
}

.play-menu-container {
  background-color: burlywood;
  height: 500px;
  width: 100%;
}

.play-menu__card {
  background-color: white;
  height: 400px;
  width: 250px;
}